<!-- modal header part -->
<div class="modal-header">
    <div class="modal-title" id="modal-basic-title">
      <h1 class="m-0">{{ticker}}</h1>
    </div>
    <button
      type="button"
      id="close-btn"
      class="close p-0 border-0 m-1"
      aria-label="Close"
      (click)="transactionModalService.close('Cross click')"
    >
      <span class="m-0 border-0" aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <!-- modal body part -->
  <div class="modal-body">
    <p>Current Price: {{ currentprice }}</p>
    <p>Money in Wallet: {{moneyLeft}}</p>
    <p>Quantity <input [(ngModel)]="inputQuantity" type="number" min="0" /></p>
    <p *ngIf="(inputQuantity * currentprice > moneyLeft) && opt==='Buy' " class="text-danger">Not enough money in Wallet</p>
    <p *ngIf="(inputQuantity  > purchasedQuantity) && opt==='Sell' " class="text-danger">You cannot sell the stocks that you don't have</p>
  </div>
  
  <!-- modal footer part -->
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
          Total : {{    (inputQuantity * currentprice).toFixed(2) }}
        </div>
        <div class="col-6 text-end">
          <button
          type="button"
          [disabled]="
            !inputQuantity || (purchasedQuantity && inputQuantity > purchasedQuantity) || (inputQuantity * currentprice > moneyLeft)
          "
          class="btn btn-outline-dark border-0 text-white bg-success border"
          (click)="makeTransaction()"
        >
          {{ opt }}
        </button>
        </div>
      </div>
    </div>
  </div>
  